# OS specific files
.DS_Store
Thumbs.db

# IDE/Editor configuration directories
.vscode/
.idea/

# general temp/cache files
**/.temp/
**/.cache/

# build artifacts
conan_packages/
node_modules/
build/
dist/
