# Dependencies
node_modules/
yarn.lock
package-lock.json

# Build output
dist/
build/
out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
.idea/

# Environment variables
.env
.env.local

# Electron
*.tgz
